@page
@model SimulateModel
@{
    ViewData["Title"] = "Simulate";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to simulate traffic to your site.</p>

<script>
    async function runSimulate(url = '?simulate=true', data = {}) {
        const response = await fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        return response;
    }

    async function loopSimulate() {
        document.getElementById("simulate-button").style.display = "none";
        document.getElementById("simulating-text").style.display = "inline-block";
        for (let i = 0; i < 30; i++) {
            await runSimulate();
            await new Promise(resolve => setTimeout(resolve, 100)); // 100ms delay
        }
        document.getElementById("simulate-button").style.display = "inline-block";
        document.getElementById("simulating-text").style.display = "none";
    }
</script>

<button id="simulate-button" onclick="loopSimulate()">Simulate 30 Users</button>
<p id="simulating-text" style="display: none">Simulating...</p>
